body {
  margin: 0;
  background: #000000 !important;
}

a:link {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap");

/* Navbar */

#navbar {
  padding: 0;
  background-color: transparent !important;
}

/* Landing Page */


.landing_page {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.46%, #000000 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    url("../images/animation.svg");
  /* background: url(../images/final_render.mp4);
  z-index: 10; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date {
  margin-top: 30px;
}

.deadline {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Headings Landing Page */

.heading_img {
  width: 723px;
  height: 188px;
}

.date .h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.date .h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.45em;
  text-transform: uppercase;
  margin: 0;
  color: rgba(255, 255, 255, 0.49);
}

/* Register button */
.register {
  cursor: pointer;
  border-radius: 70px;
  width: 250px;
  height: 65px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19.6438px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}

.deadline .h1 {
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: rgba(196, 196, 196, 0.47);
}

.deadline .h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 138px;
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: capitalize;
  margin: 0;
  color: rgba(255, 255, 255, 0.2);
}

/* Info Page */

.info_page {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
  background: #000000;
}

.info_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_para {
  width: 80vw;
  margin-top: 60px;
}

.info_custom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 55px 20px 55px;
  width: 80vw;
  height: 129px;
  border-radius: 10px;
  background: url(../assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Headins Info Page */

.info_heading_img {
  width: 35vw;
  height: 181.13px;
}

.info_para .h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}

.info_div_one .h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.info_div_one .h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.info_div .h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}

.info_div .h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #cecece;
}

/* Tracks Page */

.tracks_page {
  padding-top: 120px;

  padding-right: 120px;
  height: 100vh;
  background: #000000;
}


#grid1 {
  align-self: flex-start;
}

.tracks_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tracks {
  padding: 20px 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.tracks .h1 {
  transform: translateX(-99px);
}

.tracks_info {
  width: 713px;
  height: 315px;
}

#comming {
  padding-left: 10px;
}


/* Headings Tracks Page */

.tracks_heading .h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 175.5%;
  /* or 84px */
  padding-left: 2em;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

.tracks .h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 46px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

.tracks_info .h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 186%;
  /* or 45px */

  letter-spacing: 0.01em;

  /* white */

  color: #ffffff;
}

/* TimeLine Page */

.timeline_page {
  padding-top: 120px;

  background: #000000;
  height: 300vh;
}

.timeline_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.timeline {
  padding: 20px 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.timeline_info {
  width: 713px;
  height: 315px;
}

@media (max-width: 960px) {
  .timeline_heading {
    margin-left: 3rem;
  }

}

ul {
  list-style-type: none;
}

li {
  padding-left: 15%;
}

#timeline {
  position: relative;
  display: table;
  height: 100%;

  margin-right: auto;
  margin-top: 5rem;
}

/* this is the line */
/* linear-gradient(to bottom #54505b #927bb6 #89049b #873b8b) */
#timeline div:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 0.5rem;
  bottom: 0rem;
  left: 5em;
  z-index: 1;
  background: #89049b;
}

/* these are the years */

#timeline h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  color: rgb(179, 179, 179);
  margin: 0;
  font-size: 1.75em;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  color: #FFFFFF;


}

@media (min-width: 62em) {
  #timeline h3 {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #ffffff;
  }
}

#timeline section.year {
  position: relative;
}

#timeline section.year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0px;
}

#timeline section.year section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

/*Months*/
#timeline section.year section h4 {
  position: absolute;
  bottom: 0;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2em;
  margin-left: 13%;
  padding: 0 0 0 89px;
  color: #c5c5c5;
}

@media (min-width: 62em) {
  #timeline section.year section h4 {
    font-size: 1em;
  }
}

#timeline section.year section ul {
  list-style-type: none;
  padding: 0 0 0 75px;
  margin: -1.35rem 0 1em;
  max-width: 32rem;
  font-size: 1em;
}

@media (min-width: 62em) {
  #timeline section.year section ul {
    font-size: 1em;
    padding: 0 0 0 81px;
  }
}

#timeline section.year section ul:last-child {
  margin-bottom: 0;
}

/* these are the circles */

#timeline section.year section ul:first-of-type:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #89049b;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 4.8em;
  top: 3px;
  z-index: 2;
}

#timeline section.year section ul li {
  margin-left: 0.5rem;
}

#timeline section.year section ul li:before {
  content: "·";
  margin-left: -0.5rem;
  padding-right: 0.3rem;
}

#timeline section.year section ul li:not(:first-child) {
  margin-top: 0.5rem;
}

#timeline section.year section ul li span.price {
  color: mediumturquoise;
  font-weight: 500;
}

.usd {
  display: inline;
}

svg {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Headings TimLine Page */

.timeline_heading .h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 175.5%;
  /* or 84px */

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

.timeline .h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 69%;
  /* or 25px */

  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

/* Partner Page */

.partner_page {
  padding-top: 100px;
  padding-left: 160px;
  padding-right: 120px;
  background: #000000;
}


#main_content {
  text-align: left;
  font-size: 35px;
  margin: 0 !important;
  /* margin-top: 60px; */
  color: #ffffff;
  background-color: #000000;
}

#main_content h1 p {
  text-align: center;
  margin: 0px;
  font-size: 18px;
  text-decoration: underline;

  color: rgb(221, 29, 29);
}

#main_content li {
  display: inline;
  list-style-type: none;
  /* background-color: #000000; */
  padding: 10px;
  /* border-radius: 5px 5px 0px 0px; */
  color: #faf5f8;
  font-weight: bold;
  cursor: pointer;
}

#main_content li.notselected {
  background-color: #000000;
  color: #808080;
}

#main_content li.selected {
  background-color: #000000;
  color: #ffffff;
  text-decoration: underline;
}

#main_content .hidden_desc {
  display: none;
  visibility: hidden;
}

#main_content #page_content {
  background-color: #000000;
  padding: 10px;
  padding-top: 9px;
  border-radius: 0px 5px 5px 5px;
  color: #ffffff;
  /* line-height: 1.6em; */
  /* word-spacing:4px; */
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /* */
}

.box-container .box {
  flex: 1 1 10px;

  /* margin:1.5rem; */
  /* padding:1rem; */
  background: rgb(10, 10, 10);

  box-shadow: 0 0.5rem 1rem rgba(155, 31, 31, 0.1);
  border-radius: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4e5352;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
}

.s_container {
  height: 100vh;
  font-weight: bolder;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.container {
  min-height: 60vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.card {
  height: 353px;
  width: 353px;
  background-color: black;
  overflow: hidden;
  /* border-radius: 1.5rem; */
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  /* position: relative; */
  border-radius: 5% !important;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.overlay .fa-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.overlay img {
  object-fit: cover;
  transition: all 2s;
  height: 100%;
  width: 100%;
}

.d-none {
  display: none;
}

.top-div {
  position: relative;
  /* padding: 20px; */
  font-size: 17px;
  color: #fff;
  z-index: 1;
}

.top-div i:nth-child(1) {
  position: absolute;
  transition: all 0.5s;
  left: -40px;
}

.top-div i:nth-child(2) {
  position: absolute;
  top: 19px;
  right: -40px;
  transition: all 0.5s;
}

.card:hover i:nth-child(1) {
  top: 20px;
  left: 20px;
}

.card:hover i:nth-child(2) {
  right: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 180px; */
  width: 100%;
  border-radius: 100%;
}

.image span {
  /* height: 90px;
    width: 90px; */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ccc;
  border-radius: 10px solid #fff;
  z-index: 1;
}

.image span img {
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  object-fit: cover;
}

.image h3 {
  /* margin-top: 5px; */
  font-weight: 900;
  font-size: 18px;
  z-index: 100;
  color: #fff;
}

.image h4 {
  margin-top: -3px;
  font-size: 13px;
  z-index: 100;
  color: #fff;
}

.text_2 {
  border-left: 4px solid rgb(255, 255, 255);
  height: 50px;
  position: absolute;
  z-index: 100;
  margin-top: 290px;
  padding: 0;
  font-size: 18px;
  margin-right: 160px;

}

.text_2 p {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);

}


/* FAQ Page */

.faq_page {
  padding-top: 100px;
  padding-left: 1em;
  padding-right: 1em;
  height: auto;
  background: #000000;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

#faq {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 175.5%;
  /* or 84px */
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;

  margin-top: 1em;
  margin-bottom: 0.5em;
}

#content {
  margin-left: 3em;
}

.box {
  border: 1px solid #202020;
  width: 90%;
  margin-left: 2em;
  padding: 1%;
}

.expandable {
  background: #000;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  line-height: 0;
  color: transparent;
  margin: 0px;
  padding: 0px;
}

.expandable:target {
  line-height: 1.5;
  padding-top: 1em;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .faq_page {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    background: #000000;
  }

  .ques {
    font-size: 4em;
  }
}

.ques {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 175.5%;
  /* or 42px */
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: rgba(255, 255, 255, 0.8);

  margin-left: 1em;
}

.ques:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.5s;
}

.ques1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 175.5%;
  /* or 42px */
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-left: 1em;

  color: #ffffff;
}

.ques1:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.5s;
}

.ans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  /* or 35px */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 2em;
  margin-bottom: 0px;
}

.arrow {
  transition: 0.3s all;
  /* rotate gradually instead of instantly */
}

.arrow:hover {
  -webkit-transform: rotate(-90deg);
  /* to support Safari and Android browser */
  -ms-transform: rotate(-90deg);
  /* to support IE 9 */
  transform: rotate(-90deg);
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 65vh;
  background: #000000;
}

.footer_main {
  margin-top: 80px;
  display: flex;
  width: 70vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #000000;
}

.footer_up {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
}

.links {
  display: flex;
}

.div_two {
  height: 215px;
  width: 14vw;
}

.div_three .icons a {
  text-decoration: none;
}

.links {
  margin-top: 10px;
  display: flex;
}

.links p {
  margin-right: 20px;
}

.div_three {
  height: 215px;
  width: 13vw;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons img {
  margin-bottom: 20px;
  margin-right: 1vw;
}

.footer_down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  background: #000000;
}

.footer_para_up {
  width: 87.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  transform: translateX(2.1vw);
}

.line-up {
  transform: translateX(4vw);
}

.footer_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 64px;
  height: 64px;
}

.footer_para {
  transform: translateY(-30px);
}

/* Headings Footer */
.footer_up .h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.231818px;

  color: #5f2eea;
}

.links p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: -0.204545px;

  color: #ffffff;
}

.line {
  height: 0.001px;
  border: 1px solid #4b5b65;
  margin-bottom: 25px;
  float: left;
  width: 80%;
}

.line-up {
  margin-bottom: 25px;
  float: right;
}

.footer_para {
  float: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.204545px;

  color: #ffffff;
}

/* Media Queries */

@media only screen and (max-width: 1300px) {
  .div_two {
    width: 18vw;
  }

  .div_three {
    width: 12vw;
  }
}

@media only screen and (max-width: 1025px) {
  /* Navbar */

  .landing_page {
    height: 150vh;
  }




  .date {
    margin-top: 60px;
  }

  .deadline {
    margin-top: 80px;
  }

  /* Headings Landing Page */

  .heading_img {
    margin-top: 20px;
    width: 100%;
    height: 168px;
  }

  .date .h1 {
    font-size: 5vw;
  }

  .date .h2 {
    font-size: 2.9vw;
  }

  .deadline {
    margin-top: 100px;
  }

  .deadline .h1 {
    font-size: 2.8vw;
  }

  .deadline .h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 12vw;
  }

  /* Info Page */

  .info_para {
    margin-top: 90px;
  }

  .info_custom {
    margin-top: 80px;
    padding: 0;
    width: 90vw;
    height: 149px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Headins Info Page */

  .info_heading_img {
    width: 55vw;
    height: 181.13px;
  }

  .info_div_one {
    width: 16vw;
  }

  .info_div_three {
    width: 26.5vw;
  }

  /* Footer */

  .footer_main {
    width: 80vw;
  }

  .footer_up {
    width: 100%;
  }

  .links {
    display: flex;
  }

  .div_two {
    width: 25vw;
  }

  .div_three {
    width: 14vw;
  }

  .icons {
    margin-top: 0;
  }

  .icons img {
    margin-bottom: 5px;
  }

  .footer_down {
    width: 100%;
    margin-top: 70px;
  }

  .footer_para_up {
    width: 87.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line {
    transform: translateX(2.1vw);
  }

  /* Headings Footer */

  .line {
    width: 80%;
  }

  .line-up {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 850px) {
  .div_three {
    width: 14vw;
  }
}

@media only screen and (max-width: 700px) {
  /* Navbar */

  #navbar {
    padding: 10px;
    margin-bottom: 0;
  }

  .date {
    width: 87vw;
    margin-top: 40px;
  }

  .deadline {
    margin-top: 0;
  }

  /* Headings Landing Page */

  .heading_img {
    margin-top: 20px;
    width: 100%;
    height: 168px;
  }

  .date .h1 {
    font-size: 5vw;
  }

  .date .h2 {
    font-size: 2.9vw;
  }

  .deadline {
    margin-top: 100px;
  }

  .deadline .h1 {
    font-size: 2.8vw;
  }

  .deadline .h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 12vw;
  }

  /* Info Page */

  .info_para {
    margin-top: 20px;
  }

  .info_custom {
    margin-top: 20px;
    padding: 20px;
    width: 90vw;
    height: 149px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Headins Info Page */

  .info_heading_img {
    width: 65vw;
    height: 181.13px;
  }

  .info_div_one {
    width: 16vw;
  }

  .info_div_three {
    width: 26.5vw;
  }

  .info_para .h3 {
    font-size: 12px;
  }

  .info_div_one .h3 {
    font-size: 16px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }

  .info_div_one .h4 {
    font-size: 16px;
  }

  .info_div .h3 {
    font-size: 16px;
  }

  .info_div .h4 {
    font-size: 10px;
  }

  /* Footer */

  .footer_main {
    width: 90vw;
  }

  .footer_adg {
    height: 150px;
    width: 150px;
  }

  .links {
    display: flex;
  }

  .div_two {
    width: 25vw;
  }

  .div_three {
    width: 19vw;
  }
}

@media only screen and (max-width: 450px) {
  /* Navbar */

  #navbar {
    padding: 10px;
    margin-bottom: 0;
  }

  .date {
    width: 87vw;
    margin-top: 10px;
  }

  .deadline {
    margin-top: 40px;
  }

  /* Headings Landing Page */

  .heading_img {
    margin-top: 20px;
    width: 100%;
    height: 168px;
  }

  .date .h1 {
    font-size: 5vw;
  }

  .date .h2 {
    font-size: 2.9vw;
  }

  .deadline .h1 {
    font-size: 2.8vw;
  }

  .deadline .h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: 12vw;
  }

  /* Info Page */

  .info_para {
    margin-top: 10px;
  }

  .info_custom {
    margin-top: 10px;
    padding: 0;
    width: 90vw;
    height: 149px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Headins Info Page */

  .info_heading_img {
    width: 50vw;
    height: 121.13px;
  }

  .info_div_one {
    width: 13vw;
  }

  .info_div_two {
    width: 55vw;
  }

  .info_div_three {
    width: 22.5vw;
  }

  .info_para .h3 {
    font-size: 11px;
  }

  .info_div_one .h3 {
    font-size: 12px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }

  .info_div_one .h4 {
    font-size: 12px;
  }

  .info_div .h3 {
    font-size: 12px;
  }

  .info_div .h4 {
    font-size: 8px;
  }

  /* Footer */

  .icons img {
    margin-bottom: 15px;
    width: 35px;
    height: 35px;
  }

  .div_three {
    width: 24vw;
  }

  .div_two {
    width: 28vw;
  }

  .footer_main {
    width: 90vw;
  }

  .footer_adg {
    height: 120px;
    width: 120px;
  }

  /* Headings Footer */
  .footer_up .h4 {
    font-size: 14px;
  }

  .links p {
    font-size: 11px;
    margin-right: 3px;
  }

  .footer_para {
    font-size: 12px;
  }

  .links .second {
    margin-right: 0;
  }

  .footer_button {
    width: 44px;
    height: 44px;
  }

  .footer_button_img {
    width: 44px;
    height: 44px;
  }
}